@charset "UTF-8";

body,
html {
  height: 100%;
  margin: 0 auto;
  background-image: url("../images/shirakami.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Montserrat Alternates', 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  color: #3D3D3D;
}

header {
    padding: 200px 0;
}

header h1, header p {
    background-color: rgba(255, 255, 255, 0.8);
}

header h1 {
    font-size: 30px;
    padding: 7px;
    padding-top: 16px;
}

h2 {
    font-size: 30px;
    margin: 400px 0;
    position: relative;
}

h2::before {
    color: white;
    font-size: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    z-index: -1;
}

h3 {
    display: inline-block;
    font-size: 25px;
    line-height: 1.5;
    border-bottom: solid 1px #3D3D3D;
    margin-top: 70px;
}

#header_works::before {
    content: "works";
}

#header_about::before {
    content: "About";
}

header p {
    padding-bottom: 16px;
}

.content {
    width: 90%;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.75);
}

.section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 70px;
}


.exhibit .frame {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    border: solid 1px;
    border-color: #A2A2A2;
}

.exhibit .frame img {
    max-width: 90%;
    max-height: 90%;

    margin: auto;
}

.exhibit p {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.item {
    max-width: 250px;
    margin: auto;
    margin-top: 70px;
}

 footer {
     padding: 33px;
 }