@charset "UTF-8";

body,
html {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat Alternates', 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3D3D3D;
}

body {
    background-color: white;
}

body::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-10;
    width:100%;
    height:100vh;
    background:url("../images/shirakami_sp.jpg") no-repeat center;
    background-size:cover;
}

a {
    text-decoration: none;
    color:#3D3D3D; 
}

a:hover {
    text-decoration: underline;
}

.content {
    width: 90%;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.75);
}

header {
    padding: 40vh 0;
}

header h1, header p {
    background-color: rgba(255, 255, 255, 0.8);
}

header h1 {
    font-size: 30px;
    padding: 16px 0 0;
    margin-bottom: 0;
}

header p {
    padding-bottom: 16px;
    margin-top: 0;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 50vh 0;
    position: relative;
}

#header_about::before {
    content: "About";
}

#header_works::before {
    content: "Works";
}

h2::before {
    color: white;
    font-size: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    z-index: -1;
}

h3 {
    display: inline-block;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
    border-bottom: solid 1px #3D3D3D;
    margin-top: 70px;
    margin-bottom: 0;
}



.section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 70px;
}

.exhibit {
    width: 250px;
}

.exhibit .frame {
    width: 100%;
    height: 200px;
    display: flex;
    border: solid #E0E0E0 1px;
}

.exhibit .frame img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    border: solid 1px;
    border-color: #E0E0E0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.exhibit .frame img:hover {
    filter: brightness(70%);
}

.exhibit p {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.item {
    margin: auto;
    margin-top: 50px;
    font-weight: 300;
    line-height: 1.5;
}

/* ↓responsive_modal_designの上書き */

a.modal__trigger {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin: auto;
    cursor: pointer;
}

a.modal__trigger:hover {
    background-color: transparent;
}

div.modal__content {
    background-color: white;
}

#modal__temp {
    background-color: white;
}


.modal__content .detail_item {
    text-align: left;
}

.modal__content .item_name {
    font-size: 10px;
    margin-bottom: 0;

}

.modal__content .item_name::after {
    content: ":";
}

.modal__content p {
    margin: 0;
}

.modal__content img {
    margin-top: 50px;
    max-width: 300px;
}

.modal__content .topic .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.modal__content .topic .title::before,  .modal__content .topic .title::after{
    content: '';
    display: inline-block;
    flex-grow: 1;
    height: 1px;
    background: #E0E0E0;
    margin: 0 30px;
}

.modal__content .topic p {
    margin: auto;
    text-align: left;
}

/* ↑responsive_modal_designの上書き */

 footer {
     padding: 33px;
     font-size: 12px;
 }

 @media screen and (min-width: 560px) {
    body, html {
       font-size: 16px;
    }

    header h1 {
       font-size: 40px;
       font-weight: 400;
       padding: 54px 0 0 0;
    }

    header p {
        font-size: 20px;
        padding-bottom: 54px;
    }

    body::before { 
        background:url("../images/shirakami.jpg") no-repeat center;
    }
    .items {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    h2 {
        font-size: 43px;
        font-weight: 300;
    }

    h2::before {
        font-size: 15vw;
        position: absolute;
        left: 0;
        right: 0;
        top: -10vw;
        z-index: -1;
    }

    h3 {
        font-size: 30px;
        margin-top: 100px;
        font-weight: 300;
    }

    .item {
        margin-top: 65px;
    }

    .modal__content .detail_item {
        display: flex;
        text-align: left;
    }

    .modal__content .item_name {
        font-size: 12px;
        width: 80px;
    }

    .modal__content p {
        margin: 3px 0;
        width: 80%;
    }

 }

 @media screen and (min-width: 960px) {
}