@charset "UTF-8";

body,
html {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat Alternates', 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3D3D3D;
  line-height: 1.5;
}

body {
    background-color: white;
}

body::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-10;
    width:100%;
    height:100vh;
    background:url("../images/shirakami_sp.jpg") no-repeat center;
    background-size:cover;
}

a {
    text-decoration: none;
    color:#3D3D3D; 
}

a:hover {
    text-decoration: underline;
}

.content {
    width: 100%;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.75);
}

header {
    padding: 40vh 0;
}

header h1, header p {
    background-color: rgba(255, 255, 255, 0.8);
}

header h1 {
    font-size: 30px;
    padding: 16px 0 0;
    margin-bottom: 0;
}

header p {
    padding: 10px 0 16px 0;
    margin-top: 0;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 50vh 0;
    position: relative;
}

h2 span {
    z-index: 1;
    position: relative;
}

#about_header::before {
    content: "About";
}

#works_header::before {
    content: "Works";
}

h2::before {
    color: white;
    font-size: 75px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    z-index: 0;
}

h3 {
    display: inline-block;
    font-size: 23px;
    font-weight: 300;
    border-bottom: solid 1px #3D3D3D;
    margin-top: 70px;
    margin-bottom: 0;
}



.section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 70px;
}

.exhibit {
    max-width: 250px;
}

.exhibit .frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.exhibit .frame img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 5px;
    border: solid #E0E0E0 1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.exhibit .frame img:hover {
    filter: brightness(70%);
}

.exhibit p {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.item {
    margin: auto;
    margin-top: 50px;
    font-weight: 300;
}

.profile {
    padding-top: 70px;
    margin: 0 50px;
}
.profile img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 20px;
}

.profile div {
    text-align: center;
}

.profile p {
    margin: 20px 0;
    text-align: left;
}


 footer {
     padding: 33px;
     font-size: 12px;
 }


/*******
* モーダルの設定
*******/

.modal_content {
    text-align: center;
}

.modal_content .detail_item {
    text-align: left;
    margin: 10px 0;
}

.modal_content .item_name {
    font-size: 10px;
    margin-bottom: 0;

}

.modal_content .item_name::after {
    content: ":";
}

.modal_content p {
    margin: 0;
}

.modal_content img {
    margin: 30px 0;
    border: solid #E0E0E0 1px;
    padding: 5px;
    max-width: 100%;
}

.modal_content .topic .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.modal_content .topic .title::before,  .modal_content .topic .title::after{
    content: '';
    display: inline-block;
    flex-grow: 1;
    height: 1px;
    background: #E0E0E0;
    margin: 0 30px;
}

.modal_content .topic p {
    margin: auto;
    text-align: left;
}

/**********
* メニューの設定
***********/

.menu ul li {
    margin: 50px 0;
}

#header #navi {
  transition: all .6s;
  overflow-y: auto;
  padding-top: 40px;
  width: 100px;
  height: 100vh;
  z-index: 200;
  top: 0;
  right: -320px;
  background-color: #fff;
  position: fixed;
}
 
#header .nav_btn {
  width: 44px;
  height: 44px;
  z-index: 300;
  top: 7px;
  right: 7px;
  cursor: pointer;
  position: fixed;
}
 
.hamburger_line {
  transition: all .6s;
  width: 34px;
  height: 2px;
  left: 5px;
  background-color: #000;
  position: absolute;
}
 
.hamburger_line1 { top: 10px; }
.hamburger_line2 { top: 21px; }
.hamburger_line3 { top: 32px; }
 
.nav_bg {
  opacity: 0;
  transition: all .6s;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: #000;
  cursor: pointer;
  position: fixed;
}
 
/* 表示された時用のCSS */
.nav_open #header #navi { right: 0; }
 
.nav_open .nav_bg {
  opacity: .8;
  visibility: visible;
}
 
.nav_open .hamburger_line1 {
  transform: rotate(45deg);
  top: 20px;
}
 
.nav_open .hamburger_line2 {
  width: 0;
  left: 50%;
}
 
.nav_open .hamburger_line3 {
  transform: rotate(-45deg);
  top: 20px;
}


@media screen and (min-width: 560px) {
   body, html {
      font-size: 16px;
   }

   header h1 {
      font-size: 40px;
      font-weight: 400;
      padding: 54px 0 0 0;
   }

   header p {
       font-size: 20px;
       padding-bottom: 54px;
   }

   body::before { 
       background:url("../images/shirakami.jpg") no-repeat center;
   }
   .items {
       max-width: 900px;
       display: flex;
       flex-wrap: wrap;
       margin: auto;
   }

   h2 {
       font-size: 43px;
   }

   h2::before {
       font-size: 15vw;
       top: -10vw;
   }

   h3 {
       font-size: 30px;
       margin-top: 100px;
       font-weight: 300;
   }

   .item {
       margin-top: 65px;
   }

    .exhibit .frame {
        height: 200px;
    }

   .profile {
       display: flex;
       max-width: 900px;
       margin: auto;
       padding: 100px 50px 0 50px;
   }

   .access {
       display: flex;
       justify-content: space-around;
       max-width: 700px;
       margin: auto;
   }

   .modal_content {
       max-width: 666px;
       margin: auto;
   }
   .modal_content .detail_item {
       display: flex;
       justify-content: space-around;
   }

   .modal_content .detail_item .item_name {
       text-align: right;
       font-size: 12px;
       width: 80px;
   }

   .modal_content .detail_item p, .modal_content .detail_item a {
       margin: 3px 0;
       width: 80%;
   }

   /**********
   *メニュー
   ********/
   
    #header #navi {
       right: 0;
       width: auto;
       height: auto;
       padding: 0;
       background-color: rgba(255, 255, 255, 0.7);
    }

    #nav_btn {
        display: none;
    }

    .menu ul {
        display: flex;
        list-style: none;
        position: fixed;
        right: 20px;
    }
    .menu ul li {
        margin: 0; 
        padding: 0 20px;
    }
    .menu ul li a {
        font-size: 12px;
    }

    .menu ul li a:hover {
        text-decoration: none;
    }

    .menu ul li:hover{
        background-color: white;
    }
}
@media screen and (min-width: 960px) {
}