@charset "UTF-8";

body,
html {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat Alternates', 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3D3D3D;
}

body::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-10;
    width:100%;
    height:100vh;
    background:url("../images/shirakami_sp.jpg") no-repeat center;
    background-size:cover;
}

a {
    text-decoration: none;
    color:#3D3D3D; 
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 40vh 0;
}

header h1, header p {
    background-color: rgba(255, 255, 255, 0.8);
}

header h1 {
    font-size: 30px;
    padding: 7px;
    padding-top: 16px;
}

header p {
    padding-bottom: 16px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 50vh 0;
    position: relative;
}

#header_about::before {
    content: "About";
}

#header_works::before {
    content: "Works";
}

h2::before {
    color: white;
    font-size: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    z-index: -1;
}

h3 {
    display: inline-block;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
    border-bottom: solid 1px #3D3D3D;
    margin-top: 70px;
}


.content {
    width: 90%;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.75);
}

.section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 70px;
}

.exhibit {
    width: 250px;

}

.exhibit .frame {
    width: 100%;
    height: 200px;
    background-color: #F6F6F6;
    display: flex;
}

.exhibit .frame img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    border: solid 1px;
    border-color: #E0E0E0;
}

.exhibit p {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.item {
    margin: auto;
    margin-top: 50px;
    font-weight: 300;
    line-height: 1.5;
}

 footer {
     padding: 33px;
     font-size: 12px;
 }

 @media screen and (min-width: 560px) {
    body, html {
       font-size: 16px;
    }

    header h1 {
       font-size: 40px;
       font-weight: 400;
       padding: 20px;
       padding-top: 54px;
    }

    header p {
        font-size: 20px;
        padding-bottom: 54px;
    }

    body::before { 
        background:url("../images/shirakami.jpeg") no-repeat center;
    }
    .items {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    h2 {
        font-size: 43px;
        font-weight: 300;
    }

    h2::before {
        font-size: 15vw;
        position: absolute;
        left: 0;
        right: 0;
        top: -10vw;
        z-index: -1;
    }

    h3 {
        font-size: 30px;
        margin-top: 100px;
        font-weight: 300;
    }

    .item {
        margin-top: 65px;
    }
 }

 @media screen and (min-width: 960px) {
}